@import "tailwindcss";

:root {
  --background: #fef6ef;
  --foreground: #171717;
  --secondary-color: #fce2ce;
  --specialtext: #92613a;
  --darktext: #424242;
  --withdarktext: #757575;
  --withdarkinnertext: #616161;
  --dark-btn: #92613A;
  --lightText: #553922;
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: #0a0a0a;
  font-family: var(--font-rubik);
}
